:root {
  --blue: #01D6F7;
  --charcoal: #2C2C2C;
  --gray: #484848;
  --red: #FF7777;
  --yellow: #F4E600;
  --gray-blue: #C3EBEE;
  --gray-purple: #E2EEEF;
  --gray-green: #EDF9E7;
  --lora: 'Lora', serif;
  --gloria: 'Gloria Hallelujah', cursive;
  --source: 'Source Sans Pro', sans-serif;
}

body {
  background-color: var(--gray-blue);
  color: var(--gray);
  font-family: var(--source);
  line-height: 1.5em;
}

header {
  padding: 1em;
}

header a {
  text-decoration: none;
  color: var(--charcoal);
  margin: 0 1em;
}

.navbar {
  float: right;
}

.grid-4-8 {
  padding: 2em;
}

.grid-4-8 a {
  color: var(--charcoal);
}

.grid-4-8 a:hover {
  font-weight: bold;
}

@media only screen and (min-width: 600px) {
  .grid-4-8 {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 3em;
  }
}

