:root {
  --blue: #01D6F7;
  --charcoal: #2C2C2C;
  --gray: #484848;
  --light-gray: #f0f4f7;
  --pink: #ffcfe0;
  --orange: #ff9e4a;
  --gray-blue: #C3EBEE;
  --gray-purple: #E2EEEF;
  --gray-green: #EDF9E7;
  --lora: 'Lora', serif;
  --gloria: 'Gloria Hallelujah', cursive;
  --source: 'Source Sans Pro', sans-serif;
}

body {
  background-color: var(--gray-blue);
  color: var(--gray);
  font-family: var(--source);
  line-height: 1.5em;
  margin: 0;
}

header {
  padding: 1em;
}

header a {
  text-decoration: none;
  color: var(--charcoal);
  margin: 0 1em;
}

header a:hover {
  font-weight: bold;
  color: var(--blue);
}

.navbar {
  float: right;
}

.sticky-note {
  height: 6em;
  width: 6em;
  display: inline-block;
  text-align: center;
  padding: 1em;
  margin: 1em;
  box-shadow: 1px 5px 10px rgba(0,0,0,.1);
}

.grid-4-8 {
  padding: 2em;
}

.grid-4-8 a {
  color: var(--charcoal);
}

.grid-4-8 a:hover {
  font-weight: bold;
}

.white {
  background-color: white;
}

.blue {
  background-color: var(--blue);
}

.light-gray {
  background-color: var(--light-gray);
}

.pink {
  background-color: var(--pink);
}

.orange {
  background-color: var(--orange);
}

.section-4 {
  width: 100%;
}

.section-5 {
  width: 80%;
  margin: 0 auto;
  display: block;
}

.section-6 {
  height: 14em;
}

.section-7 {
  height: 18em;
}

.m-2 {
  margin: 2em;
}

.flex {
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 1em;
  float: right;
}

footer p {
  margin-right: 1em;
}

footer img {
  height: 1.3em;
  padding: 0.5em 0;
  margin: 0.5em;
}

footer img:hover {
  background-color: var(--blue);
}

@media only screen and (min-width: 600px) {
  .grid-4-8 {
    display: grid;
    grid-template-columns: 4fr 8fr;
    padding: 3em;
  }

  .grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 auto;
  }
}

