:root {
  --blue: #01D6F7;
  --charcoal: #2C2C2C;
  --gray: #484848;
  --red: #FF7777;
  --yellow: #F4E600;
  --gray-blue: #C3EBEE;
  --gray-purple: #E2EEEF;
  --gray-green: #EDF9E7;
  --lora: 'Lora', serif;
  --gloria: 'Gloria Hallelujah', cursive;
  --source: 'Source Sans Pro', sans-serif;
}

body {
  background-color: var(--gray-blue);
  color: var(--gray);
  padding: 1em;
}

.navbar {
  display: flex;
  justify-content: space-around;
}

.grid-4-8 {

}
