:root {
  --blue: #01D6F7;
  --charcoal: #2C2C2C;
  --red: #FF7777;
  --yellow: #F4E600;
  --gray-blue: #C3EBEE;
  --gray-purple: #E2EEEF;
  --gray-green: #EDF9E7;
  --lora: 'Lora', serif;
  --gloria: 'Gloria Hallelujah', cursive;
  --source: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0 auto;
  font-family: var(--source);
}

header {
  background-color: var(--blue);
  padding: 3em;
}

h1 {
  color: white;
  font-size: 3.5em;
  font-family: var(--lora);
  margin: 0 auto;
}

h2 {
  font-weight: 300;
}

h3 {
  text-transform: uppercase;
  font-family: var(--lora);
}

h5 {
  font-family: var(--gloria);
  background-color: white;
  padding: 0.5em 1em;
  border-radius: 40px 40px 40px 0;
  display: inline-block;
  margin: 2em;
}

.center {
  text-align: center;
}

.auto-margin {
  width: 60%;
  margin: 0 auto;
}

.m-1 {
  margin: 1em;
}

.blue {
  color: var(--blue);
}

.white {
  color: white;
}

.charcoal {
  color: var(--charcoal);
}

header img {
  height: 7em;
  margin: 3em auto;
  display: block;
}

header p {
  font-family: var(--source);
}

header button {
  color: var(--blue);
  background-color: white;
  border: none;
  font-family: var(--lora);
  font-size: 1.2em;
  padding: 0.3em 0.7em;
  margin: 0 auto;
  display: block;
}

.section-1 {
  padding: 3em;
}

.welcome-box {
  border-bottom: 1px solid var(--blue);
  padding: 2em;
}

.flex {
  display: flex;
}

.space-around {
  justify-content: space-around;
}

.help-box {
  margin: 2em auto;
}

.help h3 {
  margin: 2em;
}

.section-2 {
  padding: 3em;
  background-color: var(--red);
}

.section-2 h2 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 3em;
  margin: 0.5em auto;
}

.arrow {
  margin: -2em auto;
  height: 10em;
  display: block;

}

.section-3 {
  padding: 3em;
  background-color: var(--yellow);
}

.people {
  margin: -5em auto;
  height: 10em;
  display: block;
}

.section-4 {
  padding: 3em;
  background-color: var(--gray-blue);
}

.section-4 p, .section-5 p, .section-6 p {
  margin: 0.3em;
}

.material-icons.m-0 {
  float: right;
  margin-left: 0.3em;
}

.btn-black {
  color: white;
  background-color: var(--charcoal);
  border: none;
  font-family: var(--lora);
  font-size: 1.2em;
  padding: 0.3em 0.7em;
  float: right;
}

.btn-black:hover, header button:hover {
  color: var(--charcoal);
  background-color: white;
  border: 1px solid var(--charcoal);
  font-family: var(--lora);
}

.section-4 .mobile, .section-6 .mobile {
  height: 24em;
  margin: 1em;
}

.mobile-box {
  margin-top: 4em;
}

.section-4 h5, .section-6 h5 {
  float: right;
}

.section-4 h2 span, .section-5 h2 span, .section-6 h2 span {
  font-family: var(--lora);
  font-weight: 700;
}

.section-4 .grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
}

.col-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.section-5 {
  padding: 3em;
  background-color: var(--gray-purple);
}

.section-5 img {
  height: 14em;
}

.section-6 {
  padding: 3em;
  background-color: var(--gray-green);
}


